@import './vars';



.btn{
  border: 0;
  border-radius: 30px;
  padding: 10px 30px;
  
  
  &.green{
    color: white;
    background-color: $green;
    
    &:hover{
      background-color: darken($color: #3D6F42, $amount: 20%);
  
    }
  }

  &.white{
    color: black;
    background-color: $white;
    
    &:hover{
      background-color: $green;
      color: white;
    }
  }  
}

.bundle{
  background-image: url('/images/bg-transparent-3.png');
  background-color: $dark-green;
}

.pm-container{
  max-width: 1500px;
  margin: 0 auto;
}

h1{
  font-size: 60px;
}