@import './vars';

.btn{
  color: white;
  background-color: $green;
  border: 0;

  &:hover{
    background-color: darken($color: #3D6F42, $amount: 20%);

  }
}

.bundle{
  background-image: url('/images/bg-transparent-3.png');
  background-color: $dark-green;
}

.pm-container{
  max-width: 1500px;
  margin: 0 auto;
}