@import './vars';



.btn{
  border: 0;
  border-radius: 30px;
  padding: 10px 30px;
  
  
  &.green{
    color: white;
    background-color: $green;
    
    &:hover{
      background-color: darken($color: #3D6F42, $amount: 20%);
  
    }
  }

  &.white{
    color: black;
    background-color: $white;
    
    &:hover{
      background-color: $green;
      color: white;
    }
  }  
}

.bundle{
  background-image: url('/images/bg-transparent-3.png');
  background-color: $dark-green;
}

.pm-container{
  max-width: 1200px;
  margin: 0 auto;
}

h1{
  font-size: 60px;
}

.pm-hover{
  display: flex;
  align-items: center;
  justify-content: center ;
  height: calc(100% - 23%);
  width: calc(100% - 8%);
  top: 0;
  left: 0;
  margin: 0px 12px;
  background-color: rgba(175, 118, 13, 0.288);
  color: white;
  opacity: 0;
  transition: 1s;

  &:hover{
    opacity: 100;
  }

  span{
    margin: 0 10px;
  }

  a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    
    &:hover{
      text-decoration: underline;
    }
  }
 }